@tailwind base;
@tailwind components;
@tailwind utilities;

.home {
  height: auto;
}
.main-card {
  margin-top: 120px;
}
.foot {
  bottom: 0;
}
.cards {
  padding: 5px;
  margin-top: 130px;
  margin-bottom: 75px;
  /* height: auto; */
  overflow: auto;
max-height: 66vh;
}
.main-h1 {
  text-align: center;
  margin-top: 155px;
  padding: 20px;
}
.card-1:hover {

  box-shadow: rgba(9, 105, 231, 0.925) 0px 5px 15px;
}
.card-1{
  transition: 0.6s;
}

.footer1{
  background-color:rgb(26, 34, 44) ;
color: white !important;
}
@media only screen and (max-width: 600px) {
  .main-head {
    padding: 15px;
  }

}
.bgone{
  background-color:rgb(26, 34, 44) ;
 
}
@media only screen and (max-width: 320px) {
  .mob {
    margin-top: 25px;
    padding: 15px;
  }
  .main-card{
    margin-top: 160px;
  }
  .main-h1 {
    text-align: center;
    margin-top: 200px;
    padding: 20px;
  }
}
@media only screen and (min-width: 1024px) {
 
  .mob{
    padding: 20px !important;
  }
}
@media only screen and (min-width: 768px) {
 
  .mob{
    padding: 20px !important;
  }
}